{erl_opts, [
    debug_info,                    
    {i, "include"},               
    {parse_transform, lager_transform}  
]}.

{deps, [
    {lager, "3.9.2"}              % Dependência do Lager(https://github.com/erlang-lager/lager) para logging estruturado 
]}.

{shell, [
    {config, "config/sys.config"}, 
    {apps, [rpc_server]}          
]}.

{relx, [
    {release, {rpc_server, "0.1.0"}, [
        kernel,
        stdlib,
        sasl,
        rpc_server
    ]},

    {mode, dev},
    {extended_start_script, true},

    {config, "config/sys.config"}, 
    {overlay, [
        {mkdir, "log/"}
    ]}
]}.

{profiles, [
    {test, [                   
        {deps, [                  
            {proper, "1.4.0"},    
            {eunit_formatters, "0.5.0"} 
        ]},
        {erl_opts, [nowarn_export_all]}  
    ]}
]}.

{edoc_opts, [                    
    {preprocess, true},           
    {macros, [{d, 'EDOC'}]},      
    {private, true},              
    {todo, true}                  
]}.

{cover_enabled, true}.            
{cover_opts, [verbose]}.          

{plugins, [                       
    {rebar3_proper, "0.12.1"},    
    {rebar3_lint, "4.0.0"}        
]}.

{lager_extra_sinks, [             % Configuração de sinks adicionais do Lager
    {rpc_server_lager_event, [     
        {handlers, [              % Handlers de log configurados
            {lager_console_backend, [    % Handler para console
                {level, info}            % Nível mínimo: info
            ]},
            {lager_file_backend, [       % Handler para arquivo
                {file, "log/rpc_server.log"},  % Arquivo de log
                {level, info},                 
                {size, 10485760},              % Tamanho máximo: ~10MB
                {date, "$D0"},                 
                {count, 5}                     % Mantém 5 arquivos de backup
            ]}
        ]}
    ]}
]}.
