{erl_opts, [debug_info]}.
{deps, [
    {lager, "3.9.2"}              % Dependência do Lager(https://github.com/erlang-lager/lager) para logging estruturado 
]}.

{apps_dirs, ["apps"]}.

{relx, [
    {release, {rpc_server, "0.1.0"},
     [kernel,
      stdlib,
      sasl,
      crypto,
      lager,
      runtime_tools, observer, wx,
      rpc_server_http,
      rpc_server_shell]},

    {sys_config, "./config/dev_sys.config"},
    {vm_args, "./config/dev_vm.config"},

    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},

    {overlay, [
        {mkdir, "log/"}
    ]}
]}.

{shell, [
    {config, "config/dev_sys.config"},
    {apps, [
        rpc_server_http,
        rpc_server_shell
    ]}
]}.


{edoc_opts, [                    
    {preprocess, true},           
    {macros, [{d, 'EDOC'}]},      
    {private, true},              
    {todo, true}                  
]}.


{cover_enabled, true}.            
{cover_opts, [verbose]}.          

{plugins, [                       
    {rebar3_proper, "0.12.1"},    
    {rebar3_lint, "4.0.0"}
]}.

{project_plugins, [rebar3_format]}.


{alias, [
    {test, [{format, "--verify"}, eunit, ct, cover]}
]}.

{format, [{files, [
    "./src/rpc_server_http_acceptor_sup.erl"
]}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles, [
    {http_node, [
        {relx, [
            {release, {rpc_server_http, "0.1.0"},
             [kernel, stdlib, sasl, crypto, lager, runtime_tools, observer, wx, rpc_server_http]},
            {sys_config, "./config/dev_sys.config"},
            {vm_args, "./config/dev_http.vm.args"},
            {dev_mode, true},
            {include_erts, false},
            {extended_start_script, true}
        ]}
    ]},
    {shell_node, [
        {relx, [
            {release, {rpc_server_shell, "0.1.0"},
             [kernel, stdlib, sasl, crypto, lager, runtime_tools, observer, wx, rpc_server_shell]},
            {sys_config, "./config/dev_sys.config"},
            {vm_args, "./config/dev_shell.vm.args"},
            {dev_mode, true},
            {include_erts, false},
            {extended_start_script, true}
        ]}
    ]}
]}.

