{erl_opts, [debug_info]}.
{deps, [
    {lager, "3.9.2"}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [rpc_server_shell]}
]}.



{lager_extra_sinks, [             % Configuração de sinks adicionais do Lager
    {rpc_server_lager_event, [     
        {handlers, [              % Handlers de log configurados
            {lager_console_backend, [    % Handler para console
                {level, info}            % Nível mínimo: info
            ]},
            {lager_file_backend, [       % Handler para arquivo
                {file, "log/rpc_server.log"},  % Arquivo de log
                {level, info},                 
                {size, 10485760},              % Tamanho máximo: ~10MB
                {date, "$D0"},                 
                {count, 5}                     % Mantém 5 arquivos de backup
            ]}
        ]}
    ]}
]}.
