[
    {kernel, [
        {logger_level, info}
    ]},
    {rpc_server, [
        {tcp_port, 8080},
        {num_acceptors, 100},     % Número de processos aceitando conexões
        {max_connections, 10000}, % Limite máximo de conexões simultâneas
        {tcp_listen_options, [    % Esse é utilizado no listener global
            binary,     
            {packet, raw},        % 0 = raw - Sem cabeçalho, dados brutos 
            {reuseaddr, true},    % Permite reutilizar o endereço mesmo se estiver em estado TIME_WAIT
            {active, true},       % Modo ativo total (passagem automática de mensagens)
            {backlog, 128}        % Número máximo de conexões pendentes na fila
        ]},
        {tcp_connection_options, [ % Esse é utilizado para cada conexão individual
            binary,
            {packet, raw},        
            {active, false}, 
            {keepalive, true},      % Mantém a conexão ativa usando TCP keepalive
            {send_timeout, 5000},   % Define um timeout de 5 segundos para operações de envio
            {send_timeout_close, true},
            {exit_on_close, true}   % Encerra o processo quando o socket é fechado 
        ]}
    ]}
]. 